#navbar {
    background-color: #070707;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 999;
    color: white;
    top: 0;
    left: 0;
}

#logo img {
    width: 100px;
    height: auto;
    align-items: center;
    justify-content: center;
}

#nav-content ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

#nav-content ul li a {
    text-decoration: none;
    color: #fffafa;
    font-weight: 400;
    font-size: 16px;
    transition: color 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav-content ul li a:hover {
    color: #07a8dd;
    background-color: #07a8dd57;
}

#register button {
    background-color: #07a8dd;
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

#register button:hover {
    background-color: #0088bb;
}

#nav-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #nav-toggle {
        display: block;
    }

    #nav-content {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #000000;
        text-align: center;
        padding: 20px 0;
    }

    #nav-content ul {
        flex-direction: column;
        gap: 15px;
    }

    #nav-content.active {
        display: flex;
    }

    #register {
        display: none;
    }
}